<!DOCTYPE html>
<html>
  <head>
    <title>Check form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= form.id %></h1>
	<form>
			<div>
				<%= form.fields.id1 %>
				<%= form.fields.value1 %><br>
				<%= form.fields.id2 %>
				<%= form.fields.value2 %>
			</div>
		<input type="hidden" name="formID" value="<%= form.id%>">
		<a href="/admin">Back</a>
	</form>
  </body>
</html>